<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
  <h3> {{body}} </h3>
  <h4>{{clist}}</h4>
  {% for i in clist %}
   <div>{{forloop.first}}: {{i}}</div>
  {% endfor %}
<table border="1" cellpadding="10px">
    <tr>
        <th>name</th>
        <th>phone</th>
    </tr>
    {% for d in student%}
    <tr>
        <td>{{d.name}}</td>
        <td>{{d.mobile}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>